<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>Forms</AuthenticationType>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AssetManagerApp</DeployIisAppPath>
    <AllowUntrustedCertificate>False</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$AssetManagerApp</UserName>
    <SavePWD>True</SavePWD>
    <LightSwitchPublishVersion>v2.1</LightSwitchPublishVersion>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <AutoParameterizationWebConfigConnectionStrings>False</AutoParameterizationWebConfigConnectionStrings>
    <WPPAllFilesInSingleFolder>../bin/Release/app.publish/</WPPAllFilesInSingleFolder>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../AssetManagerApp.lsxproj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>